h2 {
		color: white;

	}
	body {
		background-color: black;

		text-align: left;
	}
	h1 {
		color: black;


	}
	img {
		text-align: center;
	}
	ul{
		color:purple;
		background-color: grey;
	}
	#main {
		color:white;
		text-align: center;
		font-weight: bold;
		font-size: 35px
	}
	img {
		align-items: right;
	}